In [1]:
import numpy as np
import pandas as pd
import re
pd.set_option('max_colwidth', 900)
import matplotlib.pyplot as plt
%matplotlib inline
from collections import Counter

from warnings import filterwarnings
filterwarnings("ignore")

df = pd.read_excel("raw_data.xlsx",sheet_name='raw_data')
df['product_name'] = df['product_name'].apply(lambda x : x.replace('"',""))

### removing the Duplicates
df_duplicate_dropped = df.drop_duplicates()
df_duplicate_dropped = df_duplicate_dropped.reset_index()
df_duplicate_dropped = df_duplicate_dropped.drop(columns={"index"})

### Seperating the data for cleaning

df_duplicate_dropped['no_ofprice']      = df_duplicate_dropped['product_price'].apply(lambda x : len(str(x).split(",")))
df_duplicate_dropped['no_of_prods']     = df_duplicate_dropped['product_quantity'].apply(lambda x : len(str(x).split("|")))
df_duplicate_dropped["no_of_prod_name"] = df_duplicate_dropped["product_name"].apply(lambda x: len(str(x).split(",")))


df_no_need_clean = df_duplicate_dropped[(df_duplicate_dropped["no_of_prods"]==df_duplicate_dropped["no_ofprice"])&\
                                       (df_duplicate_dropped["no_of_prods"]==df_duplicate_dropped["no_of_prod_name"])&\
                                       (df_duplicate_dropped["no_ofprice"] ==df_duplicate_dropped["no_of_prod_name"])]

df_need_clean   = df_duplicate_dropped[~((df_duplicate_dropped["no_of_prods"]==df_duplicate_dropped["no_ofprice"])&\
                                       (df_duplicate_dropped["no_of_prods"]==df_duplicate_dropped["no_of_prod_name"])&\
                                       (df_duplicate_dropped["no_ofprice"] ==df_duplicate_dropped["no_of_prod_name"]))]

df_no_need_clean = df_no_need_clean.reset_index()
df_no_need_clean = df_no_need_clean.drop(columns={"index"})

df_need_clean = df_need_clean.reset_index()
df_need_clean = df_need_clean.drop(columns={"index"})

In [31]:
### Cleaning the price
df_equal = df_need_clean[df_need_clean['no_of_prods']==df_need_clean['no_of_prod_name']]

cols = ["no_ofprice","no_of_prods","no_of_prod_name"]
df_main_1 = df_equal[((df_equal['no_ofprice']==2)&(df_equal['no_of_prods']==1))].drop(cols, axis =1)
df_main_1["product_price"] = df_main_1["product_price"].apply(lambda x : int(str(x).replace(",","")))

df_equal = df_equal[~((df_equal['no_ofprice']==2)&(df_equal['no_of_prods']==1))].drop(cols, axis =1)
df_equal = df_equal.reset_index()
df_equal = df_equal.drop(columns={"index"})

#########################################
df_not_equal = df_need_clean[~(df_need_clean['no_of_prods']==df_need_clean['no_of_prod_name'])]

cols = ["no_ofprice","no_of_prods","no_of_prod_name"]
df_main_2 = df_not_equal[(df_not_equal['no_ofprice']==1)&(df_not_equal['no_ofprice']==df_not_equal['no_of_prods'])].drop(cols, axis =1)

df_not_equal = df_not_equal[~((df_not_equal['no_ofprice']==1)&(df_not_equal['no_ofprice']==df_not_equal['no_of_prods']))]
df_not_equal = df_not_equal.reset_index()
df_not_equal = df_not_equal.drop("index", axis = 1)

In [50]:
# df_main_3 = pd.DataFrame()
# val     = []
# for i in range(len(df_no_need_clean)):
#     datereceived = df_no_need_clean['datereceived'][i]
#     user_id      = df_no_need_clean['user_id'][i]
#     customer_id  = df_no_need_clean['customer_id'][i]
#     total_revenue = df_no_need_clean["total_revenue"][i]
#     product_price = df_no_need_clean['product_price'][i]
#     product_quantity = df_no_need_clean['product_quantity'][i]
#     product_name = df_no_need_clean['product_name'][i]
    
#     product_price_cal    = str(product_price).split(",")
#     product_quantity_cal = str(product_quantity).split("|")
#     product_name_cal     = str(product_name).split(",")

#     n1 = len(product_price_cal)
#     n2 = len(product_quantity_cal)
#     n3 = len(product_name_cal)
    
#     if (n3 > n1) & (n1==1): 
#         product_price    = str(product_price).split(",")
#         product_quantity = str(product_quantity).split("|")
#         print(str(product_name))
#         product_name     = str(product_name)
#     else:
#         product_price    = str(product_price).split(",")
#         product_quantity = str(product_quantity).split("|")
#         product_name     = str(product_name).split(",")
        
#     data = {"datereceived" : datereceived,
#               "user_id" : user_id,
#                "total_revenue" : total_revenue, 
#               "customer_id" : customer_id,
#               "product_price" : product_price,
#               "product_quantity" : product_quantity,
#               "product_name" : product_name}

#     df_temp = pd.DataFrame(data)
#     df_main_3 = pd.concat([df_main_3, df_temp], axis = 0) 

# df_main_3.to_csv("cleaned_data.csv", header = True, index = False)
df_main_3 = pd.read_csv("cleaned_data.csv")
df_main_4 = pd.concat([pd.concat([df_main_1,df_main_2],axis = 0),df_main_3],axis = 0)

In [47]:
### product information
df_product_info     = df_main_4[["product_price","product_name"]].drop_duplicates()
df_product_distinct = pd.DataFrame(pd.Series(df_product_info["product_name"].value_counts()))
df_product_distinct = df_product_distinct.reset_index().rename(columns = {"index":"product_name",
                                                                        "product_name":"count"})
df_product_distinct = df_product_distinct[df_product_distinct['count']==1]
df_product = df_product_distinct.merge(df_product_info, on=['product_name'], how= 'left')
df_product = df_product.drop(["count"],axis =1)

In [51]:
### no_of_prods and no_of_prod_name are equal

df_equal_cleaned = pd.DataFrame()

for i in range(len(df_equal)):
    datereceived     = df_equal['datereceived'][i]
    user_id          = df_equal['user_id'][i]
    customer_id      = df_equal['customer_id'][i]
    total_revenue    = df_equal['total_revenue'][i]
    product_quantity = df_equal['product_quantity'][i]
    product_name     = df_equal['product_name'][i]
    
    product_quantity = str(product_quantity).split("|")
    product_name    = str(product_name).split(",")
    
    data = {"datereceived" : datereceived,
              "user_id" : user_id,
               "total_revenue" : total_revenue, 
              "customer_id" : customer_id,
              "product_quantity" : product_quantity,
              "product_name" : product_name}

    df_temp = pd.DataFrame(data)
    df_equal_cleaned = pd.concat([df_equal_cleaned, df_temp], axis = 0)
    
df_equal_cleaned['original_product_name'] = df_equal_cleaned['product_name']
df_equal_cleaned['product_name'] = df_equal_cleaned['product_name'].apply(lambda x : x.strip().lower())
df_product['product_name'] = df_product['product_name'].apply(lambda x : x.strip().lower())

df_equal = df_equal_cleaned.merge(df_product, how = 'left', on = 'product_name')
df_equal = df_equal.drop("product_name", axis = 1)
df_equal = df_equal.rename(columns = {"original_product_name":"product_name"})

df_equal_left = df_equal[df_equal['product_price'].isna()]
df_main_5     = df_equal[~(df_equal['product_price'].isna())]

In [52]:
df_main_6 = pd.concat([df_main_4,df_main_5],axis = 0)

In [54]:
df_not_equal["diff"]      = df_not_equal['no_of_prod_name']-df_not_equal['no_ofprice']
df_not_equal['value_map'] = df_not_equal['product_name'].apply(lambda x : [len(i) for i in str(x).split(",")])

df_temp_not_equal = pd.DataFrame()

for i in range(len(df_not_equal)):
    datereceived  = df_not_equal['datereceived'][i]
    user_id       = df_not_equal['user_id'][i]
    customer_id   = df_not_equal['customer_id'][i]
    total_revenue = df_not_equal['total_revenue'][i]
    product_price = df_not_equal['product_price'][i]
    product_name  = df_not_equal['product_name'][i]
    product_quantity = df_not_equal['product_quantity'][i]
    
    product_price = str(product_price).split(",")
    product_quantity = str(product_quantity).split("|")
    
    diff = df_not_equal['diff'][i]
    value_map = df_not_equal['value_map'][i]
    value_map.sort()
    remove = value_map[:diff]
    
    product_names = [i.strip() for i in str(product_name).split(",") if len(i) not in remove]
    
    data = {"datereceived" : datereceived,
            "user_id" : user_id,
            "total_revenue" : total_revenue, 
            "customer_id" : customer_id,
            "product_price" : product_price,
            "product_quantity" : product_quantity,
            "product_name" : product_names}

    df_temp = pd.DataFrame(data)
    df_temp_not_equal = pd.concat([df_temp_not_equal, df_temp], axis = 0)
    
df_temp_not_equal["product_price"] = df_temp_not_equal["product_price"].apply(lambda x : float(x))
df_main_7 = df_temp_not_equal[df_temp_not_equal["product_price"]>0]
df_main_8 = pd.concat([df_main_6,df_main_7],axis = 0)

In [ ]:
df_equal_left['product_quantity']  = df_equal_left['product_quantity'].apply(lambda x : int(x))
df_equal_left = df_equal_left.drop("product_price",axis=1)

In [90]:
df_main_9 = df_main_8.copy()
df_find = df_equal_left.copy()
df_main_9['datereceived'] = pd.to_datetime(df_main_9['datereceived']).dt.date
df_find['datereceived']   = pd.to_datetime(df_find['datereceived']).dt.date

In [265]:
cols = ["datereceived","product_price","product_name"]
bbb = df_main_9[cols].drop_duplicates()
daw = pd.DataFrame()
for find_id in df_find['user_id'].unique():
    aaa = df_find[(df_find['user_id']==find_id)]
    ccc = aaa.merge(bbb, on = ['datereceived','product_name'], how = 'inner')
    if (len(aaa)>1)&(len(aaa)-len(ccc) ==1):
        ccc['total'] = ccc['product_quantity']*ccc['product_price']

        cols = ["datereceived","user_id","customer_id"]
        ddd = ccc.groupby(cols).agg({"total_revenue":np.average,"total":"sum"}).reset_index()
        ddd['difference'] = ddd['total_revenue']-ddd['total']
        vals = float(ddd['total'][0])
        ddd = ddd.drop(['total_revenue','total'],axis=1)
#         eee = eee.drop("total",axis = 1)

        ###difference

        aaa = aaa.merge(ccc,on = ['datereceived','user_id','total_revenue',
                              'customer_id',"product_quantity","product_name"], how = 'left')
        aaa = aaa.fillna(vals)
        aaa["product_price"] = aaa['product_price']/aaa['product_quantity']
        daw = pd.concat([aaa,daw],axis=0)
        daw = daw.drop(['total'],axis =1)

In [273]:
df_main_10 = daw.copy()
df_main_10 = pd.concat([df_main_9,df_main_10],axis = 0)

In [285]:
df_remaining = df_find[~((df_find['datereceived'].isin(daw['datereceived'].unique()))&\
                   (df_find['user_id'].isin(daw['user_id'].unique()))&\
                   (df_find['customer_id'].isin(daw['customer_id'].unique()))&\
                   (df_find['product_name'].isin(daw['product_name'].unique()))&\
                   (df_find['total_revenue'].isin(daw['total_revenue'].unique())))]

In [290]:
df_remaining[(df_remaining['user_id']==70677)&(df_remaining['customer_id']==1085263)]

,datereceived,user_id,total_revenue,customer_id,product_quantity,product_name
11,2021-04-01,70677,2698.0,1085263,1,Movie Queen Sleeper Sofa

In [300]:
v = df_main_10[(df_main_10['user_id']==70677)&(df_main_10['customer_id']==1085263)] 
v

,datereceived,user_id,customer_id,total_revenue,product_price,product_quantity,product_name
12,2021-04-01,70677,1085263,2698.0,1099,1,Suspend II Media Console

In [301]:
u = df_duplicate_dropped[(df_duplicate_dropped['user_id']==70677)&(df_duplicate_dropped['customer_id']==1085263)]
u['datereceived'] = pd.to_datetime(u['datereceived']).dt.date

,datereceived,user_id,customer_id,total_revenue,product_price,product_quantity,product_name,no_ofprice,no_of_prods,no_of_prod_name
144,2021-04-01,70677,1085263,2698.0,"15,991,099",1|1,"Movie Queen Sleeper Sofa,Suspend II Media Console",3,2,2

In [305]:
cols = ['product_price','no_ofprice','no_of_prods','no_of_prod_name']
u = u[(u['no_of_prods']==u['no_of_prod_name'])&(u['no_of_prods']<u['no_ofprice'])].drop(cols,axis=1)

In [321]:
i = 144
datereceived  = u['datereceived'][i]
user_id       = u['user_id'][i]
customer_id   = u['customer_id'][i]
total_revenue = u['total_revenue'][i]
product_name  = u['product_name'][i]
product_quantity = u['product_quantity'][i]

product_name     = str(product_name).split(",")
product_quantity = str(product_quantity).split("|")

data = {"datereceived" : datereceived,
        "user_id" : user_id,
        "total_revenue" : total_revenue, 
        "customer_id" : customer_id,
        "product_quantity" : product_quantity,
        "product_name" : product_name}

temp = pd.DataFrame(data)

temp = temp.merge(v, on = ['datereceived','user_id','total_revenue',
                          'customer_id',"product_quantity","product_name"], how = 'left')

cols = ['datereceived','user_id','customer_id',"product_quantity"]
temp1 = temp.groupby(cols).agg({"total_revenue":np.average,"product_price":"sum"}).reset_index()
temp1['diff'] = temp1['total_revenue']-temp1['product_price']

In [322]:
temp

,datereceived,user_id,total_revenue,customer_id,product_quantity,product_name,product_price
0,2021-04-01,70677,2698.0,1085263,1,Movie Queen Sleeper Sofa,NaN
1,2021-04-01,70677,2698.0,1085263,1,Suspend II Media Console,1099

In [323]:
temp1

,datereceived,user_id,customer_id,product_quantity,total_revenue,product_price,diff
0,2021-04-01,70677,1085263,1,2698.0,1099,1599.0